@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    /* colocar todas as cores aqui */
    --bg-color: #303030;
    --cor-urna: #6F6F6F;
    --bg-tela: #272727;
    --color-white: #FFF;
    --botao-voto-active: rgb(184, 184, 184);
    --color-enviar-branco: #EDEDED;
    --color-enviar-corrigir: #BE2F2F;
    --color-enviar-confirmar: #48AF2E;
    --color-enviar-branco-active: #b6b6b6;
    --color-enviar-corrigir-active: #912525;
    --color-enviar-confirmar-active: #3f9b27;
    --hover-candidatos: rgb(221, 209, 209);
}

/* link normal que não foi visitado */
a:link {
    color: var(--color-white);
}

/* link que o user já clicou */
a:visited {
    color: var(--color-white);
}

/* link hover */
a:hover {
    color: var(--color-enviar-confirmar);
}

/* link enquanto está sendo clicado */
a:active {
    color: var(--color-enviar-corrigir);
}

/* STYLE DE INDEX.HTML */
#pag-cadastro {
    background-color: #232323;
    color: #FFF;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadastro {
    background-color: #1a1a1a;
    padding: 2rem;
    border: solid 2px #0a0a0a;
    border-radius: 1.3rem;
}

#cadastro h1 {
    margin: 2rem 0;
}

#cadastro form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cadastro .linha-form {
    margin-bottom: 2rem;
}

.ir-para-urna {
    font-size: 1em;
    color: #000;
    background-color: #FFDA34;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}

.ir-para-urna:hover {
    background-color: #f6c900;
}

/* STYLE DE URNA.HTML */

#body-urna {
    background-color: var(--cor-urna);
}

#urna {
    background-color: var(--cor-urna);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 99%;
}

#em-quem-votar {
    cursor: pointer;
}

.open {
    display: block;
}

#menu-candidatos {
    display: none;
    width: 50rem;
    position: fixed;
    top: 1rem;
    left: 30%;
    background-color: rgb(78, 78, 78);
    color: var(--color-white);
}

.menu-candidatos-titulo {
    text-align: center;
    margin: 1rem 0;
}

#menu-candidatos.ativo {
    display: block;
}

.menu-candidatos-img-nome {
    display: flex;
    gap: 4rem;
}

.menu-candidatos-img-nome img {
    width: 8rem;
}

.menu-candidatos-descricao {
    text-align: justify;
}

.menu-candidatos-candidato {
    margin: 1rem 3rem;
}

.menu-candidatos-rick img {
    width: 8em;
}

.menu-candidatos-rick:hover,
.menu-candidatos-morty:hover,
.menu-candidatos-jerry:hover,
.menu-candidatos-evil-morty:hover,
.menu-candidatos-conselho-rick:hover {
    color: #000;
    padding: .4rem 0;
    background-color: var(--color-enviar-branco-active);
    border: solid .2rem #0a0a0a;
    border-radius: .5rem;
}

/* STYLE DA URNA EM SI */
#higher {
    min-width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #000;
}

#higher nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .9rem;
}

#antes-voto {
    /* aspect-ratio: 16/9; */
    width: 97%;
    height: 25rem;
    padding: 15px;
    color: #FFF;
    background-color: var(--bg-tela);
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #000;
}

/* STYLE de antes do voto */
.inputs-numero {
    display: flex;
}

.numero-presidente {
    width: 40px;
    aspect-ratio: 1/1;
    border: solid 2px #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 500;
}

/* STYLE de voto em branco */
#voto-branco {
    width: 97%;
    height: 25rem;
    padding: 15px;
    color: #FFF;
    background-color: var(--bg-tela);
    border: solid 2px #000;
    border-radius: .4rem;
}

#voto-branco h1 {
    display: flex;
    justify-content: center;
    font-size: 8rem;
    font-weight: 300;
}

#voto-branco h4 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 200;
}

#voto-branco img {
    display: flex;
    margin: 0 auto;
    width: 9rem;
    border-radius: .7rem;
}

/* STYLE dos candidatos */
#tela-candidato {
    width: 97%;
    height: 25rem;
    padding: 15px;
    color: #FFF;
    background-color: var(--bg-tela);
    border: solid 2px #000;
    border-radius: .4rem;
}

/* STYLE para não encontrado */
#nao-encontrado {
    width: 97%;
    height: 25rem;
    padding: 15px;
    color: #FFF;
    background-color: var(--bg-tela);
    border: solid 2px #000;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* específico presidente RICK */
#presidente-rick {
    display: flex;
    justify-content: space-between;
}

.coluna-imagem .img-presidente-rick {
    width: 12rem;
}

.img-vice-presidente-rick {
    width: 5rem;
}

/* específico para o presidente MORTY */
#presidente-morty {
    display: flex;
    justify-content: space-between;
}

/* específico para o presidente JERRY */
#presidente-jerry {
    display: flex;
    justify-content: space-between;
}

/* específico para o presidente EVIL-MORTY*/
#presidente-evil-morty {
    display: flex;
    justify-content: space-between;
}

/* específico para o presidente CONSELHO-RICK */
#presidente-conselho-rick {
    display: flex;
    justify-content: space-between;
}

#presidente-conselho-rick img {
    padding: 0 0 2rem 0;
}

#presidente-conselho-rick .coluna-imagem {
    margin: auto 0;
    padding-right: 4rem;
}

/* estilo para todos os presidentes */
.coluna-texto .titulo h2 {
    font-size: 2rem;
}

.coluna-texto {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descricao-presidente {
    display: flex;
    flex-direction: column;
}

.descricao-presidente h5 {
    margin-bottom: 2rem;
}

.coluna-imagem {
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.coluna-imagem .img-presidente {
    width: 10rem;
}

.img-vice-presidente {
    width: 5rem;
}

/* STYLE da parte baixa da urna */
#lower {
    min-width: 90%;
    height: 400px;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: space-around;
    border: solid 2px #000;
}

#info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid 2px #000;
}

.redes {
    display: flex;
    justify-content: space-evenly;
    border: solid 2px #000;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #000;
}

#botoes {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: solid 2px #000;
}

/* BAIANAGEM MÁXIMA */
#no-num {
    background-color: var(--cor-urna);
    border: none;
}

#teclado {
    display: grid;
    grid-template-columns: auto auto auto;
}

.botao-numerico {
    aspect-ratio: 1/1;
    margin: 5px;
    padding: 1.3rem;
    border-radius: .5rem;
    border: 2px solid var(--bg-tela);
}

.botao-numerico:active {
    background-color: var(--botao-voto-active);
}

/* .botao-numerico:hover {} */

#enviar {
    width: 20%;
    display: flex;
    justify-content: center;
}

.botoes-enviar {
    border-radius: 10px;
    height: 4rem;
    padding: .27rem;
    margin: 0 1rem;
}

.enviar {
    font-size: large;
    font-weight: bold;
}

.enviar-branco {
    background-color: var(--color-enviar-branco);
    border: 2px solid;
}

.enviar-branco:active {
    background-color: var(--color-enviar-branco-active);
}

.enviar-corrigir {
    background-color: var(--color-enviar-corrigir);
    border: 2px solid;
}

.enviar-corrigir:active {
    background-color: var(--color-enviar-corrigir-active);
}

.enviar-confirmar {
    background-color: var(--color-enviar-confirmar);
    border: 2px solid;
}

.enviar-confirmar:active {
    background-color: #3f9b27;
}
